.title {
    text-align: left;
    color: black;
    text-align: center;
    display: flexbox;
}
.image-test a {
    color: black;
}

#teste{
    margin: 0;
    list-style: none;
    
}
#teste li{
    display: inline;
    padding: 25px;
}


#teste{
    padding: 30px;
    text-align: center;
    font-size: xx-large;
}
.apre{
    display: flex;
    align-items: center;
}
body{
    background-image:url(MG_4294-1-scaled.jpg);
}
.aa{
    font-size: xx-large;
    text-align: center;
}
.ee{
    text-align: center;
}