.title {
    text-align: left;
    color: blue;
}
.container-1 {
    display: flex;  
}
.text-1 {
   justify-content: center; 
}
.image-test img {
    width: 700px;
    height: 400px;
}
.image-test a {
    color: black;
}

#teste{
    margin: 0;
    list-style: none;
    background-color:white;
}
#teste li{
    display: inline;
    padding: 25px;
}
header{
    padding: 0;;
}
#teste{
    padding: 30px;
    text-align: center;
}